$fuente1: 'PT Sans', sans-serif;
$fuente2: 'Open Sans', sans-serif;
$color-primario:black;
$color-primario-secundario:#141414;
$color-claro:white;
$color-claro-secundario:#c3c3c3;
@mixin fuente($fuente){
     @if $fuente == $fuente2{
          font-family: $fuente2;
          font-weight: 700;
          text-transform: uppercase;
     }@else{
          font-family: $fuente1;
     }
}
@mixin contenedor(){
     width: 95%;
     margin: 0 auto;
     @include media(tablets){
          max-width: 1200px;
     }
}

*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
html{
     font-size: 12px; // 10px = 1rem;
     @include media(movil-l){
          font-size: 14px;
     }
     @include media(tablets){
          font-size: 16px;
     }
     @include media(desktops){
          font-size: 18px;
     }
}
a{
     text-decoration: none;
}
img{
     width: 100%;
     max-width: 100%;
     vertical-align: middle;
}
.boton{
     display: inline-block;
     text-transform: uppercase;
     border-radius: 8px;
     text-align: center;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
}