.paginas{
     padding:10px 0;
     &__titulo{
          text-align: center;
          padding: 0 0 8px 0;
          @include fuente($fuente2);
     }
     &__contenedor{
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
          grid-template-rows: 1fr;
          grid-auto-rows: auto;
          gap: 15px;
          @include contenedor();
     }
}
.pagina{
     background-color: $color-claro-secundario;
     padding: 10px;
     &__imagen{
          height: 170px;
          @include media(tablets){
               height: 130px;
          }
     }
     &__enlaces{
          display: flex;
          justify-content: space-between;
     }
     &__boton{
          flex: 0 0 calc(50% - 5px);
          padding: 10px 8px;
          color: $color-claro;
          background-color: $color-primario-secundario;
          @include fuente($fuente1);
          transition: all .3s ease-in-out;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          &:hover{
               border:1px solid $color-primario;
               background-color: $color-claro-secundario;
               color: $color-primario-secundario;
          }
          @include media(tablets){
               font-size: 0.875rem;
          }
          @include media(desktops){
               font-size: 0.625rem;
          }
     }

}
