.hero
     .hero__contenedor
          h2.hero__title Maquetado de paginas web Freelance
          .hero__ubicacion
               i(class="fas fa-map-marker hero__icon")
               span.hero__ubi Mexico, Ciudad De México
          a(href="" class="hero__button") Contacto
          