main.paginas
     h2.paginas__titulo Paginas web creadas
     .paginas__contenedor
          +cajaPagina('bienes-raices.png','Bienes raices','https://kbrayangarcia.github.io/BienesRaices/','https://github.com/KBrayanGarcia/BienesRaices')
          +cajaPagina('BlogCafe.png','Blog Cafe','https://kbrayangarcia.github.io/BlogCafe/','https://github.com/KBrayanGarcia/BlogCafe')
          +cajaPagina('flexbox.png','Flexbox','https://kbrayangarcia.github.io/Flexbox/','https://github.com/KBrayanGarcia/Flexbox')
          +cajaPagina('movi-es.png','Movie.es','https://kbrayangarcia.github.io/Movi.es/','https://github.com/KBrayanGarcia/Movi.es')