include _herramientas.pug
<!DOCTYPE html>
html(lang="es")
     include _head.pug
     body
          .gridIndex
               include _header.pug
               script(src="../js/script.js")
               block contenido