mixin cajaPagina (imagen, tecnologias, url, link, linkRepo)
     .cajaPagina
          .pagina-img
               img(src="img/"+ imagen)
               p.tecnologias= tecnologias
          .link
               a(href=""+ url).boton.link-pagina= link
               a(href=""+ linkRepo).boton.link-pagina Repositorio