mixin cajaPagina (imagen, tecnologias, url, link)
     .cajaPagina
          .pagina-img
               img(src="img/"+ imagen)
               p.tecnologias= tecnologias
          a(href=""+ url).boton.link-pagina= link