main.paginas
     .paginas-flex.centrado
          +cajaPagina('bienes-raices.png', 'Css3, html5, grid, pug, Responsive Design', 'https://kbrayangarcia.github.io/BienesRaices/', 'Bienes Raices', 'https://github.com/KBrayanGarcia/BienesRaices')
          +cajaPagina('BlogCafe.png', 'Css3, html5, grid, javaScript, pug, Responsive Design', 'https://kbrayangarcia.github.io/BlogCafe/', 'Blog de Cafe','https://github.com/KBrayanGarcia/BlogCafe')
          +cajaPagina('logo.png', 'Css3, html5, Grid', 'https://kbrayangarcia.github.io/Platzi-Video/', 'Platzi Video', 'https://github.com/KBrayanGarcia/Platzi-Video')
          +cajaPagina('movi-es.png', 'Css3, html5, Grid', 'https://kbrayangarcia.github.io/Movi.es/', 'Movie.es', 'https://github.com/KBrayanGarcia/Movi.es')
          +cajaPagina('flexbox.png', 'Css3, html5, flexbox, sass, pug, Resposive Design', 'https://kbrayangarcia.github.io/Flexbox/', 'Flexbox', 'https://github.com/KBrayanGarcia/Flexbox')
