main.paginas
     .paginas-flex.centrado
          +cajaPagina('bienes-raices.png', 'Css3, html5, grid, pug, Responsive Design', 'https://kbrayangarcia.github.io/BienesRaices/', 'Bienes Raices')
          +cajaPagina('BlogCafe.png', 'Css3, html5, grid, javaScript, pug, Responsive Design', 'https://kbrayangarcia.github.io/BlogCafe/', 'Blog de Cafe')
          +cajaPagina('logo.png', 'Css3, html5, Grid', 'https://kbrayangarcia.github.io/Platzi-Video/', 'Platzi Video')
          +cajaPagina('movi-es.png', 'Css3, html5, Grid', 'https://kbrayangarcia.github.io/Movi.es/', 'Movie.es')