include herramientas.pug
<!DOCTYPE html>
html(lang="es")
     include head.pug
     body
          .grid-index
               include header.pug
               include paginas.pug
               block contenido